<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tcodng.portalang">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:configChanges="uiMode|locale|orientation"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_logo"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.PortaLang">
        <activity android:name=".UserReportMissingSuccess"/>
        <activity android:name=".FAQs" />
        <activity android:name=".FragmentHelp"
            tools:ignore="Instantiatable" />
        <activity android:name=".UserProfileEdit" />
        <activity android:name=".UserForgotPassword" />
        <activity android:name=".UserReportMissingC" />
        <activity android:name=".UserReportMissingB" />
        <activity android:name=".UserReportMissingA" />
        <activity android:name=".Settings" />
        <activity android:name=".NoInternet" />
        <activity android:name=".UserRegisterSuccess" />
        <activity android:name=".UserPortal" />
        <activity android:name=".UserDashboard" />
        <activity android:name=".ZoomPhotos" />
        <activity android:name=".UserRegisterB" />
        <activity android:name=".UserRegisterA" />
        <activity android:name=".UserLogin" />
        <activity android:name=".GetStarted" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashAct" />
        <activity android:name=".Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>